/*!* CSS used here will be applied after bootstrap.css *!*/
.login-screen{
    background-color: #D3D3D3;
    padding: 10px;
    width: 300px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 50px;
}

h2{
    text-align: center;
    margin-top: 0px;
}

.pass{
    margin-top: 10px;
}


.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: #ffffff;

}


h1 {
    color: #0000FF;
}

h2 {
    color: #FF0000;
}

footer {
    margin-top: 60px;
}

.validation-message {
    font-style: normal;
    font-size: 10px;
    color: #FF1C19;
}

a {
    transition: all .2s;
}

a:hover, a:focus, a:active {
    color: purple;
    text-decoration: none;
}

.pagination {
    display: block;
    text-align: center;
}


